apiVersion: apps/v1
kind: Deployment
metadata:
  name: controller-manager
  namespace: system
  labels:
    control-plane: controller-manager
spec:
  selector:
    matchLabels:
      control-plane: controller-manager
  replicas: 1
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: manager
      labels:
        control-plane: controller-manager
    spec:
      securityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      containers:
      - command:
        - /manager
        args:
          - --leader-elect
          - --health-probe-bind-address=:8081
        image: controller:latest
        name: manager
        env:
        # Setting LIBVIRT_URI is required
        - name: LIBVIRT_URI
          value: ${LIBVIRT_URI}
        ## LIBVIRT_SASL_USERNAME and LIBVIRT_SASL_PASSWORD are optional; they can be set if you wish to use them
        ## TODO: Needs to be implemented in the controller code
        # - name: LIBVIRT_SASL_USERNAME
        #   value: ${LIBVIRT_SASL_USERNAME}
        # - name: LIBVIRT_SASL_PASSWORD
        #   value: ${LIBVIRT_SASL_PASSWORD}
        ports: []
        securityContext:
          readOnlyRootFilesystem: true
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - "ALL"
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        resources:
          limits:
            cpu: 500m
            memory: 128Mi
          requests:
            cpu: 10m
            memory: 64Mi
        volumeMounts:
        - mountPath: /tmp
          name: tmp
      volumes:
      - name: tmp
        emptyDir: {}
      serviceAccountName: controller-manager
      terminationGracePeriodSeconds: 10
