---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.19.0
  name: libvirtmachinetemplates.infrastructure.cluster.x-k8s.io
spec:
  group: infrastructure.cluster.x-k8s.io
  names:
    categories:
    - cluster-api
    kind: LibvirtMachineTemplate
    listKind: LibvirtMachineTemplateList
    plural: libvirtmachinetemplates
    singular: libvirtmachinetemplate
  scope: Namespaced
  versions:
  - name: v1beta1
    schema:
      openAPIV3Schema:
        description: LibvirtMachineTemplate is the Schema for the libvirtmachinetemplates
          API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: Spec is the specification of the LibvirtMachineTemplate.
            properties:
              template:
                description: LibvirtMachineTemplateResource describes the data needed
                  to create a LibvirtMachine from a template.
                properties:
                  metadata:
                    description: |-
                      Standard object's metadata.
                      More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#metadata
                    minProperties: 1
                    properties:
                      annotations:
                        additionalProperties:
                          type: string
                        description: |-
                          annotations is an unstructured key value map stored with a resource that may be
                          set by external tools to store and retrieve arbitrary metadata. They are not
                          queryable and should be preserved when modifying objects.
                          More info: http://kubernetes.io/docs/user-guide/annotations
                        type: object
                      labels:
                        additionalProperties:
                          type: string
                        description: |-
                          labels is a map of string keys and values that can be used to organize and categorize
                          (scope and select) objects. May match selectors of replication controllers
                          and services.
                          More info: http://kubernetes.io/docs/user-guide/labels
                        type: object
                    type: object
                  spec:
                    description: Spec is the specification of the desired behavior
                      of the machine.
                    properties:
                      backingImageFormat:
                        description: BackingImageFormat is the format of the backing
                          image (e.g., "qcow2") at BackingImagePath. Uses the 'qcow2'
                          format if not specified.
                        type: string
                      backingImagePath:
                        description: BackingImagePath is a path on the libvirt target
                          host of an image you have already downloaded and wish to
                          use as the base image for the primary operating system disk
                          of the LibvirtMachine.
                        type: string
                      cpu:
                        description: CPU is the number of virtual CPUs assigned to
                          the LibvirtMachine.
                        format: int32
                        type: integer
                      diskSize:
                        description: DiskSize is the size (in GiB) allocated to the
                          primary operating system disk mounted to the LibvirtMachine.
                        format: int32
                        type: integer
                      memory:
                        description: Memory is the amount of memory (in MiB) assigned
                          to the LibvirtMachine.
                        format: int32
                        type: integer
                      network:
                        description: |-
                          Network is the name of the network to which the LibvirtMachine will be connected. Uses the 'default' network if not specified.
                          Assumes that the network already exists and has DHCP enabled.
                        type: string
                      providerID:
                        description: |-
                          ProviderID is the unique identifier for this machine as exposed by the infrastructure provider.
                          This field is required by Cluster API to link the Machine resource to the infrastructure machine.
                          Format: libvirt:///<machine-name>
                        maxLength: 512
                        minLength: 1
                        type: string
                      storagePool:
                        description: |-
                          StoragePool is the name of the storage pool where the LibvirtMachine's disk will be created. Uses the 'default' storage pool if not specified.
                          Assumes that the storage pool already exists and has been started.
                        type: string
                    required:
                    - backingImagePath
                    - cpu
                    - diskSize
                    - memory
                    type: object
                required:
                - spec
                type: object
            required:
            - template
            type: object
          status:
            description: Status is the status of the LibvirtMachineTemplate.
            properties:
              capacity:
                additionalProperties:
                  anyOf:
                  - type: integer
                  - type: string
                  pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                  x-kubernetes-int-or-string: true
                description: |-
                  Capacity defines the resource capacity for this machine.
                  This value is used for autoscaling from zero operations as defined in:
                  https://github.com/kubernetes-sigs/cluster-api/blob/main/docs/proposals/20210310-opt-in-autoscaling-from-zero.md
                type: object
              nodeInfo:
                description: NodeInfo contains information about the node's architecture
                  and operating system.
                minProperties: 1
                properties:
                  architecture:
                    description: |-
                      architecture is the CPU architecture of the node.
                      Its underlying type is a string and its value can be any of amd64, arm64, s390x, ppc64le.
                    enum:
                    - amd64
                    - arm64
                    - s390x
                    - ppc64le
                    type: string
                  operatingSystem:
                    description: |-
                      operatingSystem is a string representing the operating system of the node.
                      This may be a string like 'linux' or 'windows'.
                    type: string
                type: object
            type: object
        required:
        - spec
        type: object
    served: true
    storage: false
  - name: v1beta2
    schema:
      openAPIV3Schema:
        description: LibvirtMachineTemplate is the Schema for the libvirtmachinetemplates
          API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: Spec is the specification of the LibvirtMachineTemplate.
            properties:
              template:
                description: LibvirtMachineTemplateResource describes the data needed
                  to create a LibvirtMachine from a template.
                properties:
                  metadata:
                    description: |-
                      Standard object's metadata.
                      More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#metadata
                    minProperties: 1
                    properties:
                      annotations:
                        additionalProperties:
                          type: string
                        description: |-
                          annotations is an unstructured key value map stored with a resource that may be
                          set by external tools to store and retrieve arbitrary metadata. They are not
                          queryable and should be preserved when modifying objects.
                          More info: http://kubernetes.io/docs/user-guide/annotations
                        type: object
                      labels:
                        additionalProperties:
                          type: string
                        description: |-
                          labels is a map of string keys and values that can be used to organize and categorize
                          (scope and select) objects. May match selectors of replication controllers
                          and services.
                          More info: http://kubernetes.io/docs/user-guide/labels
                        type: object
                    type: object
                  spec:
                    description: Spec is the specification of the desired behavior
                      of the machine.
                    properties:
                      backingImageFormat:
                        description: BackingImageFormat is the format of the backing
                          image (e.g., "qcow2") at BackingImagePath. Uses the 'qcow2'
                          format if not specified.
                        type: string
                      backingImagePath:
                        description: BackingImagePath is a path on the libvirt target
                          host of an image you have already downloaded and wish to
                          use as the base image for the primary operating system disk
                          of the LibvirtMachine.
                        type: string
                      cpu:
                        description: CPU is the number of virtual CPUs assigned to
                          the LibvirtMachine.
                        format: int32
                        type: integer
                      diskSize:
                        description: DiskSize is the size (in GiB) allocated to the
                          primary operating system disk mounted to the LibvirtMachine.
                        format: int32
                        type: integer
                      memory:
                        description: Memory is the amount of memory (in MiB) assigned
                          to the LibvirtMachine.
                        format: int32
                        type: integer
                      network:
                        description: |-
                          Network is the name of the network to which the LibvirtMachine will be connected. Uses the 'default' network if not specified.
                          Assumes that the network already exists and has DHCP enabled. TODO: Support static IPs and specify hostname per LibvirtMachine?
                        type: string
                      providerID:
                        description: |-
                          ProviderID is the unique identifier for this machine as exposed by the infrastructure provider.
                          This field is required by Cluster API to link the Machine resource to the infrastructure machine.
                          Format: libvirt:///<machine-name>
                        maxLength: 512
                        minLength: 1
                        type: string
                      storagePool:
                        description: |-
                          StoragePool is the name of the storage pool where the LibvirtMachine's disk will be created. Uses the 'default' storage pool if not specified.
                          Assumes that the storage pool already exists and has been started.
                        type: string
                    required:
                    - backingImagePath
                    - cpu
                    - diskSize
                    - memory
                    type: object
                required:
                - spec
                type: object
            required:
            - template
            type: object
          status:
            description: Status is the status of the LibvirtMachineTemplate.
            properties:
              capacity:
                additionalProperties:
                  anyOf:
                  - type: integer
                  - type: string
                  pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                  x-kubernetes-int-or-string: true
                description: |-
                  Capacity defines the resource capacity for this machine.
                  This value is used for autoscaling from zero operations as defined in:
                  https://github.com/kubernetes-sigs/cluster-api/blob/main/docs/proposals/20210310-opt-in-autoscaling-from-zero.md
                type: object
              nodeInfo:
                description: NodeInfo contains information about the node's architecture
                  and operating system.
                minProperties: 1
                properties:
                  architecture:
                    description: |-
                      architecture is the CPU architecture of the node.
                      Its underlying type is a string and its value can be any of amd64, arm64, s390x, ppc64le.
                    enum:
                    - amd64
                    - arm64
                    - s390x
                    - ppc64le
                    type: string
                  operatingSystem:
                    description: |-
                      operatingSystem is a string representing the operating system of the node.
                      This may be a string like 'linux' or 'windows'.
                    type: string
                type: object
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
